<div class="p-4">
	<p-card header="Contactez Nous" class="text-center" >
		<ng-template pTemplate="content">
			<form [formGroup]="contactForm">
				<div class="flex flex-column gap-2 mb-4">
					<label for="email" class="text-center inline-flex font-semibold">Email</label>
					<input
						formControlName="email"
						pInputText
						id="email"
						placeholder="Saisir votre adresse mail"
					/>
					<div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red text-left">
						<div *ngIf="email.hasError('required')">
							Email est obligatoire.
						</div>
						<div *ngIf="email.hasError('email')">
							Email doit etre valide
						</div>
					</div>
				</div>
				<div class="flex flex-column gap-2">
					<label for="message" class="text-center inline-flex font-semibold">Message</label>
					<textarea 
						formControlName="message"
						rows="5" 
						cols="30" 
						pInputTextarea 
						placeholder="Saisir votre message"
					></textarea>
					<div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-red text-left">
						<div *ngIf="message.hasError('required')">
							Message est obligatoire.
						</div>
						<div *ngIf="message.hasError('maxlength')">
							Message ne doit pas passé 300 caractères
						</div>
					</div>
				</div>
			</form>
		</ng-template>
		<ng-template pTemplate="footer">
			<div class="flex gap-3 mt-1">
				<p-button
					label="Envoyer"
					severity="info"
					class="w-full"
					styleClass="w-full"
					[disabled]="email.invalid || message.invalid"
					(onClick)="sendMessage()"
				/>
			</div>
		</ng-template>
		
	</p-card>

	<p-messages 
		[(value)]="messages" 
		[showTransitionOptions]="'500ms'" 
		[hideTransitionOptions]="'500ms'" 
		[enableService]="false" 
	/>

</div>