//
.products-list-container {
    height: calc( 100vh - 210px );
}

.product-card {
    &__image-container {
        height: 200px;
    }
    &__image {
        object-fit: cover;
    }
}

::ng-deep .product-card__action button {
    width: 100% !important;
}
